header,
main,
footer {
    width: 100%;
}

#modal1 {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

foreignObject>div{
    position: fixed;
}

header,
footer {
    background-color: var(--dark-grey);
}

header {
    height: 64px;
}

footer {
    min-height: 130px;
}

header .content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content ul li a {
    color: var(--green1);
}

header #mobile_nav {
    background-color: var(--dark-grey);
    height: 0px;
    top: 64px;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header #mobile_nav li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header #mobile_nav li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--dark-grey); */
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header #mobile_nav li:hover {
    filter: brightness(110%);
}

header #mobile_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--green1);
    height: 100%;
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 500ms linear;
    height: 45px !important;
}

header.scrolled #topLogo {
    height: 25px;
}

header.scrolled #mobile_nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header.scrolled #mobile_nav {
    top: 45px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

main section {
    width: 90%;
}

main .input-box {
    height: 56px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.06);
}

main .input-box input[type="email"],
main .input-box input[type="text"],
main .input-box input[type="tel"] {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 20px;
}

main input[type=checkbox] {
    border: 1px solid var(--dark-grey);
    width: 17px;
    height: 17px;
}

main .input-box input[type="submit"]:hover{
    filter:brightness(110%);
} 

main .input-box a,main .input-box input[type="submit"] {
    display: flex;
    width: 150px;
    height: 100%;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--green1);
    border: none;
    cursor: pointer;
    color: var(--light-text);
}

main #cardsContainer {
    background-image: url(assets/svg/d-lines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


main .wide-card {
    background-color: var(--light-text);
}

footer .content {
    width: 90%;
    height: 100%;
}


/* @media screen and (max-width: 992px) {
    main #cardsContainer {
        background-image: url(assets/svg/m-lines.svg);
        background-size: 90%;
    }
} */

/* @media screen and (max-width: 800px) { */
/* @media screen and (max-width: 1000px) and (min-width: 700px) {
    main #dottedContainer {
        background-image: url(assets/svg/dm.svg);
        background-size: 100%;
    }
} */

@media screen and (max-width: 800px) {
    /* main #dottedContainer {
        background-image: url(assets/svg/dm.svg);
        background-size: 100%;
    } */
    header .content {
        width: 80%;
    }
}