header,
main,
footer {
    width: 100%;
}

header,
footer {
    background-color: var(--dark-grey);
}

header {
    height: 64px;
}

footer {
    min-height: 149px;
}

header .content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content ul li a {
    color: var(--green2);
}

header #mobile_nav {
    background-color: var(--dark-grey);
    height: 0px;
    top: 64px;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header #mobile_nav li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header #mobile_nav li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header #mobile_nav li:hover {
    filter: brightness(110%);
}

header #mobile_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--green2);
    height: 100%;
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 500ms linear;
    height: 40px !important;
}

header.scrolled #topLogo {
    height: 25px;
}

main section {
    width: 90%;
}

main .input-box {
    height: 56px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.06);
}

main .input-box input[type="email"],
main .input-box input[type="text"] {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 20px;
}

main input[type=checkbox] {
    border: 1px solid var(--dark-grey);
    width: 17px;
    height: 17px;
}

main .input-box a {
    display: flex;
    width: 150px;
    height: 100%;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--green2);
    color: var(--light-text);
}

main #cardsContainer {
    background-image: url(assets/svg/d-lines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .card-2,
main #card3,
main #card3b,
main .para,
main .heading1,
main #contactDetails,
main #contactForm {
    transition: all 1.5s ease;
}

main #para11.inview,
main #para12.inview,
main #para13.inview,
main #para31.inview,
main .heading1.inview,
main #para21.inview {
    transform: translateX(0%);
}

main .heading1,
main #para21 {
    transform: translateX(20%);
    opacity: 0;
}

main #para11,
main #para12,
main #para13,
main #para31 {
    transform: translateX(-20%);
    opacity: 0;
}

main #card21 {
    transform: scale(50%);
    margin-right: 150px;
}

main #card23 {
    transform: scale(50%);
    margin-left: 150px;
}

main #card22 {
    transform: scale(50%);
}

main #card22.inview,
main #card21.inview,
main #card23.inview {
    transform: scale(100%);
}

main #card21.inview,
main #card23.inview {
    margin: 0px;
}

main #contactDetails,
main #contactForm {
    opacity: 0;
}

main #contactForm {
    transform: translateY(20%);
}

main #contactDetails {
    transform: translateY(-20%);
}

main .card-2.inview,
main #card3.inview,
main #card3b.inview,
main .para.inview,
main .heading1.inview {
    opacity: 1 !important;
}

main #contactDetails.inview,
main #contactForm.inview {
    opacity: 1;
    transform: translateY(0%);
}

main #tableSection {
    transition: all 1.5s ease;
    transform: rotate3d(-0.1, 1, 0, 90deg);
}

main #tableSection.inview {
    transform: rotate3d(0, 1, 0, 0deg);
}

main .wide-card {
    background-color: var(--light-text);
}

footer .content {
    width: 90%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    main #cardsContainer {
        background-image: url(assets/svg/m-lines.svg);
    }
}